*{
	font-family: roboto;
	outline: none;
}
.logo{
	margin-top: 100px;
	margin-left: 42%;
	transform: scale(0.7);
}
.login{
	width: 150px;
	height:50px;
	margin-left: 38%;
	margin-top: 32.5%;
	background-color: white;
	color: #9600ff;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	transition: 0.3s;
}
.login:hover,.register:hover{
	transform: scale(1.1);
	transition: 0.3s;
}
.login:active,.register:active{
	transform: scale(0.8);
	transition: 0.3s;
}
.register{
	width: 150px;
	height:50px;
	margin-left: 50%;
	margin-top: 32.5%;
	background-color: white;
	color: #9600ff;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	transition: 0.3s;
}
